.about-container {
    width: 100%;
    color: #ECECEC;
}

.about-wrapper {
    display: flex;
    margin: 5vh 5vw 5vh 5vw;
    justify-content: center;
}

/*
.about-wrapper img {
    
    max-width: 20vw;
    max-height: auto;
}
*/

.about-text {
    width: 40vw;
}

.about-text p{
    margin-bottom: 2vh;
    padding-right: 2vw;
}

/* This applies from 0px to 600px */
@media (max-width: 600px) {
    .about-wrapper {
        display: grid;
    }
    .about-text {
        width: 90vw;
    }
    .about-wrapper img {
        max-width: 90vw;
        max-height: auto;
    }
}


/* TRY OUT */

.grid-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;

    max-width: 810px;

    gap: 1.5rem;
    margin: 0px auto;
}

.grid-item {
    border: solid red;
    overflow: hidden;
    border-radius: 0.5rem;
}

.grid-item-wide {
    grid-column: span 2;
}

.grid-item > img {
    width: 100%;
    height: auto;   
}
