.about-container {
    width: 100%;
    color: #ECECEC;
    background-color: white;
}

.about-wrapper {
    display: flex;
    margin: 5vh 5vw 5vh 5vw;
    justify-content: center;
}

.about-wrapper img {
    max-width: 20vw;
    max-height: auto;
}

.about-text {
    width: 40vw;
}

.about-text p{
    margin-bottom: 2vh;
    padding-right: 2vw;
}

/* This applies from 0px to 600px */
@media (max-width: 600px) {
    .about-wrapper {
        display: grid;
    }
    .about-text {
        width: 90vw;
    }
    .about-wrapper img {
        max-width: 90vw;
        max-height: auto;
    }
}
