.about-container {
    width: 100%;
    color: #ECECEC;
}


.about-flex-wrapper {
    display: flex;
    margin: 0 5vw 0 5vw;
    justify-content: center;
}

img {
    max-width: 20vw;
    max-height: auto;
}

.about-text {
    width: 40vw;
}


.about-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.about-pic {
    width: 500px;
    height: auto;
}

.flex-item {
    width: 100px;
    height: 100px;
}

.color1 {
    background-color: #222831;
}
.color2 {
    background-color: #30475e;
}
.color3 {
    background-color: #f2a365;
}
.color4 {
    background-color: #ECECEC;
}