.mouse {
    background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #fff 50%, #fff 100%);
    position: relative;
    width: 34.6px;
    height: 58.6px;
    border-radius: 100px;
    background-size: 100% 200%;
    animation: colorSlide 7s linear infinite, nudgeMouse 7s ease-out infinite;
}
.mouse:before, .mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.mouse:before {
    width: 30.6px;
    height: 54.6px;
    background-color: #222a30;
    border-radius: 100px;
}
.mouse:after {
    background-color: #fff;
    width: 6.6px;
    height: 6.6px;
    border-radius: 100%;
    animation: trackBallSlide 7s linear infinite;
}
@keyframes colorSlide {
    0%  { background-position: 0% 100%; }
    20% { background-position: 0% 0%; }
    21% { background-color: #4e5559; }
    29.99% { background-color: #fff; background-position: 0% 0%;}
    30% { background-color: #4e5559; background-position: 0% 100%; }
    50% { background-position: 0% 0%; }
    51% { background-color: #4e5559; }
    59% { background-color: #fff; background-position: 0% 0%; }
    60% { background-color: #4e5559; background-position: 0% 100%; }
    80% { background-position: 0% 0%; }
    81% { background-color: #4e5559; }
    90%, 100% { background-color: #fff; }
}
@keyframes trackBallSlide {
    0%  { opacity: 1; transform: scale(1) translateY(-13.3px); }
    6%  { opacity: 1; transform: scale(0.9) translateY(3.325px); }
    14% { opacity: 0; transform: scale(0.4) translateY(26.6px); }
    15%, 19% { opacity: 0; transform: scale(0.4) translateY(-13.3px); }
    28%, 29.99% { opacity: 1; transform: scale(1) translateY(-13.3px); }
    30% { opacity: 1; transform: scale(1) translateY(-13.3px); }
    36% { opacity: 1; transform: scale(0.9) translateY(3.325px); }
    44% { opacity: 0; transform: scale(0.4) translateY(26.6px); }
    45%, 49% { opacity: 0; transform: scale(0.4) translateY(-13.3px); }
    58%, 59.99% { opacity: 1; transform: scale(1) translateY(-13.3px); }
    60% { opacity: 1; transform: scale(1) translateY(-13.3px); }
    66% { opacity: 1; transform: scale(0.9) translateY(3.325px); }
    74% { opacity: 0; transform: scale(0.4) translateY(26.6px); }
    75%, 79% { opacity: 0; transform: scale(0.4) translateY(-13.3px); }
    88%, 100% { opacity: 1; transform: scale(1) translateY(-13.3px); }
}
@keyframes nudgeMouse {
    0%  { transform: translateY(0); }
    20% { transform: translateY(5.3px); }
    30% { transform: translateY(0); }
    50% { transform: translateY(5.3px); }
    60% { transform: translateY(0); }
    80% { transform: translateY(5.3px); }
    90% { transform: translateY(0); }
}