.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.into-name {
    font-size: 4rem;
}

.into-title {
    font-size: 2rem;
}

.flexitem-scroll-down {
    align-self: center;
}
