.project-grid {
    padding: 5vh 5vw 5vh 5vw;
    display: grid;
    gap: 1rem;
  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 450px;
}

.grid-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    position: relative;
	object-fit: cover;
	width: 100%;
	height: 100%;

    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

    color: #ECECEC;
}

.grid-item-overlay {
    background-color: #222831;
    opacity: 0;
    color: white;

    display: flex;
    justify-content: left;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
}

/*
.grid-item-overlay:hover {
    opacity: 0.8;
}


.grid-item:hover .grid-item-header {
    visibility: hidden;
}
*/

.grid-item-header{
    font-size: 1.5rem;
    text-align: center;

    background: #30475e;

    align-self: flex-end;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    text-align: center;

    width: 100%;
    height: 100px;

    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.plus-icon{
    margin-left: 15px;
    padding-top: 10px;
}

/*
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
*/

.overlay-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.overlay-title {
    color: #f2a365;
    font-size: 1.5rem;
}

.overlay-description p {
    padding: 0 1vw 0 1vw;
    text-align: center;
}

.bg-abstact-1 {
    background-image: url("./../../images/project_bg_1.jpg");
    background-size: cover;
}
.bg-abstact-2 {
    background-image: url("./../../images/project_bg_2.jpg");
    background-size: cover;
}
.bg-abstact-3 {
    background-image: url("./../../images/project_bg_3.jpg");
    background-size: cover;
}
.bg-abstact-4 {
    background-image: url("./../../images/project_bg_4.jpg");
    background-size: cover;
}
.bg-abstact-5 {
    background-image: url("./../../images/project_bg_5.jpg");
    background-size: cover;
}
.bg-abstact-6 {
    background-image: url("./../../images/project_bg_6.jpg");
    background-size: cover;
}
.bg-abstact-7 {
    background-image: url("./../../images/project_bg_7.jpg");
    background-size: cover;
}


/* TRYOUT ----------- */

.grid {
    padding: 5vh 5vw 5vh 5vw;
    display: grid;
    gap: 1rem;
    
    min-height: 100vh;

    place-items: center;
}

.card {
    color: #ECECEC;
    background-image: url("./../../images/project_bg_7.jpg");
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;

    border-radius: 0.5rem;
    overflow: hidden;
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% /0),
        hsl(0 0% 0% /0.5) 20%,
        hsl(0 0% 0% / 1)
    );
}

.card-title {
    position: relative;
    max-width: 100%;
    width: max-content;
    padding-bottom: 0.2em;
}

.card-title::after {
    content: '';
    position: absolute;
    
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));

    background: #f2a365;
}

.card-body {
    color: rgb(255, 255, 255 / 0.9);
    margin-top: 1em;
    margin-bottom: 1em;
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #222831;
    background-color:#f2a365 ;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.button:hover, .button:focus {
    background-color:#ECECEC;
}