@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.section-title{
  font-size: 2rem;
  color: #ECECEC;
  text-align: center;
  padding: 5vh 0vh 3vh 0vh;
}

.sub-title {
  font-size: 1rem;
  color: #f2a365;
  text-align: center;
}

.content {
  z-index: 2;
  position: relative;
}

.parallax-bg {
  height: 40vh;
  width: 100%;
  background-image: url('images/parallax-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  position: fixed;
  bottom: 0vh;
}
