@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.section-wrapper {
  padding: 2vh;
}

.bg-dark-grey {
  background-color: #222831;
}
.bg-grey {
  background-color: #222a30;
}

.section-title{
  font-size: 3rem;
  color: #ECECEC;
  text-align: center;
  padding: 0vh 0vh 1vh 0vh;
}

.sub-title {
  font-size: 2rem;
  color: #f2a365;
  text-align: center;
  padding-bottom: 2vh;
}

.content {
  z-index: 2;
  position: relative;
}

.parallax-bg {
  height: 40vh;
  width: 100%;
  background-image: url('images/parallax-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  position: fixed;
  bottom: 0vh;
}
